#chat-screen {
  background-color: #abc1d1;
}
#chat-screen .status-bar {
  background-color: #abc1d1;
  z-index: 2;
}
#chat-screen .alt-screen-header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
  z-index: 1;
}
.chat-screen {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__timestamp {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.15);
  padding: 8px 15px;
  border-radius: 20px;
}
.message-row {
  width: 100%;
  display: flex;
  align-items: center;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
}
.message-row__content {
  margin-top: 20px;
}
.message__author {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.message-row__info {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
}
.message-row__bubble {
  background-color: #ffffff;
  padding: 15px;
  margin-right: 5px;
  border-radius: 15px;
  border-top-left-radius: 0;
  font-size: 20px;
}
.message-row__time {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message-row__info {
  flex-direction: row-reverse;
}
.message-row--own .message-row__bubble {
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  background-color: var(--yellow);
  margin-left: 5px;
}

.reply {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reply__column:first-child {
  width: 35px;
  height: 35px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.reply__column:last-child {
  width: 400px;
  height: 50px;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.reply__column:last-child .reply__emoticon {
  color: rgba(0, 0, 0, 0.3);
  padding: 0px 15px;
  border: none;
  background-color: #ffffff;
}
.reply__column:last-child .reply__send {
  width: 42px;
  height: 42px;
  background-color: var(--yellow);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reply__column input {
  width: 280px;
  height: 47px;
  border: none;
}
