.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2e363e;
  position: relative;
}
.nav__notification {
  position: absolute;
  right: -13px;
  top: -17px;
}
.nav__red-dot {
  position: absolute;
  right: -12px;
  top: -18px;
}

.thick-border {
  -webkit-text-stroke: 1.5px #1c2025;
}
