#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: var(--yellow);
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

@media screen and (min-width: 645px) {
  #no-mobile {
    display: flex;
  }
}
